@using Blazored.Modal;
@using Blazored.Modal.Services

<div>
    <form OnValidSubmit="SubmitForm">
        <label for="message">Message</label>
        <button type="submit">Submit</button>
        <button @onclick="Cancel">Cancel</button>
    </form>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    protected override void OnInitialized() => BlazoredModal.SetTitle("Enter a Message");

    private async Task SubmitForm() => await BlazoredModal.CloseAsync();
    private async Task Cancel() => await BlazoredModal.CancelAsync();
}